<div class="center jumbotron">
  <h1>Bienvenidos al Pharma App</h1>

  <h2>
    Esta es la página principal para la Pharma App desarrollada para JC
  </h2>

  <%= link_to "Ingresa al Sistema", '#', class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("pharma.png", size: "37x36", alt: "Pharma App"),
           root_path %>

