<!DOCTYPE html>
<html>
	<head>
		<title>Pharma App</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Bienvenidos al Pharma App</h1>
		<p>Esta es una aplicación desarrollada para JC</p>
	</body>
</html>

