<p id="notice"><%= notice %></p>

<p>
  <strong>Persontype:</strong>
  <%= @persontype.persontype %>
</p>

<%= link_to 'Edit', edit_persontype_path(@persontype) %> |
<%= link_to 'Back', persontypes_path %>
